@import url('https://fonts.googleapis.com/css?family=Bitter');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body{
	/*background-color: #491799;*/
	/*background-color: #b4b9c1;*/
	background-color: #d6d4d8;
/*	padding-left: 15%;
	padding-right: 15%;*/
	margin: 0%;
}

button{
	font-size: 20px;
	position: absolute;
}

span{
	color: #067c14;
}

.Button{
	float: right;
	padding-right: 2%;
	margin-top: -5%;
	margin-right: 10%;
}

#header{
	width: 100%;
	background-color: #4B08A1;
	padding-bottom: 2%;
	-moz-box-shadow: inset 0 -10px 10px -10px #000000;
    -webkit-box-shadow: inset 0 -10px 10px -10px #000000;
    box-shadow: inset 0 -10px 10px -10px #000000;
}

#mainInfoPic{
	width: 18%;
	display: block;
	margin: auto;
	padding-top: 2%;
	/*padding-bottom: 1%;*/
}

#greenFeeIntro{
	background-color: white;
	margin-left: 15%;
	margin-right: 15%;
	box-shadow: 0 0 15px .5px #33056d;
}

#greenFeeh2{
	margin-top: 0%;
	padding-left: 2%;
	color: #067c14;
	font-size: 30px;
}

#contactInfo{
	padding-left: 10%;
}

#introHr{
	width: 75%;
	border: 1.5px solid #491799;
}

#credit{
	text-align: center;
	color: black;
}

p{
	font-family: Open Sans;
	padding-left: 5%; 
	padding-right: 5%;
	font-size: 15px;
}
#checkmark{

}
#checkmarkdiv{
	height: 300px;
	width: 300px;
	display:block;
	margin: 20px auto 0px auto;
   background-position: center center;
   padding-top: 8%;
}
#confirmationh1{
	text-align: center;
}
#confirmationh2{
	text-align: center;
	margin: 140px auto 0px auto;
}



