@import url('https://fonts.googleapis.com/css?family=Bitter');
@import url('https://fonts.googleapis.com/css?family=Cormorant+SC');

body{
	background-color: #491799;
}

button{
	font-size: 20px;
}

.Button{
	float: right;
	padding-right: 2%;
}

#index_MainBlock{
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 3%;
	background-color: black;
	border-radius: 3px;
	border: 2px solid black;
	-webkit-box-shadow: 0px 0px 12px 10px #d7dbe5;
    /*box-shadow: 2px 2px 4px 1px #fff;*/
}

#mainInfoPic{
	width: 25%;
	display: block;
	margin: auto;
	padding-top: 3%;
	padding-bottom: 1%;
}

#greenFeeIntro{
	background-color: white;
}

#greenFeeh2{
	padding-left: 2%;
	padding-top: 3%;
	color: #067c14;
}

#contactInfo{
	padding-left: 10%;
}

#introHeader{
	width: 75%;
	border: 2px solid #491799;
}

#credit{
	text-align: center;
	color: #d7dbe5;
}

p{
	font-family: Bitter;
	padding-left: 5%; 
	padding-right: 5%;
}


