@import url('https://fonts.googleapis.com/css?family=Bitter');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body{
	/*background-color: #491799;*/
	/*background-color: #b4b9c1;*/
	background-color: #d6d4d8;
/*	padding-left: 15%;
	padding-right: 15%;*/
	margin: 0%;
}

button{
	font-size: 20px;
}

.Button{
	float: right;
	padding-right: 2%;
	margin-top: -5%;
}

#index_MainBlock{
	margin-left: 15%;
	margin-right: 15%;
	background-color: black;
	border-radius: 3px;
	border: 2px solid black;
   /* -webkit-box-shadow: 8px 42px 300px 63px rgba(0,0,0,0.75);
	-moz-box-shadow: 8px 42px 300px 63px rgba(0,0,0,0.75);
	box-shadow: 8px 42px 300px 63px rgba(0,0,0,0.75);*/
}

#header{
	width: 100%;
	background-color: #4B08A1;
	padding-bottom: 2%;
	-moz-box-shadow: inset 0 -10px 10px -10px #000000;
    -webkit-box-shadow: inset 0 -10px 10px -10px #000000;
    box-shadow: inset 0 -10px 10px -10px #000000;
}

#mainInfoPic{
	width: 18%;
	display: block;
	margin: auto;
	padding-top: 2%;
	/*padding-bottom: 1%;*/
}

#greenFeeIntro{
	background-color: white;
	margin-left: 15%;
	margin-right: 15%;
	box-shadow: 0 0 15px .5px #33056d;
}

#greenFeeh2{
	padding-left: 2%;
	color: #067c14;
}

#contactInfo{
	padding-left: 10%;
}

#introHr{
	width: 75%;
	border: 2px solid #491799;
}

#credit{
	text-align: center;
	color: black;
}

p{
	font-family: Open Sans;
	padding-left: 5%; 
	padding-right: 5%;
	font-size: 15px;
}


