@import url('https://fonts.googleapis.com/css?family=Bitter');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    /*background-color: #491799;*/
    /*background-color: #b4b9c1;*/
    background-color: #d6d4d8;
    /*	padding-left: 15%;
	padding-right: 15%;*/
    margin: 0%;
}

button{
	font-size: 15px;
	position: absolute;
}

span {
    color: #067c14;
}

p {
    font-family: Open Sans;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1em;
}

.index {
    background-image: url("photos/sugarLoaf.jpg");
    background-size: cover;
    /*width: 100%;*/
}

.indexMain {
    display: inline-block;
}

.Button {
    float: right;
    padding-right: 2%;
}

.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
    animation: stroke .6s cubic-bezier(0.650, 0.000, 0.450, 1.000) forwards;
}

.checkmark {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 10% auto;
    box-shadow: inset 0px 0px 0px #7ac142;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke .3s cubic-bezier(0.650, 0.000, 0.450, 1.000) .8s forwards;
}

.tab4p {
    color: #4B08A1;
    font-size: 18px;
}

.tab4text {
    height: 50px;
    width: 100%;
    word-break: break-word;
}

#loginForm {
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgba(203, 201, 206, 0.9);
    margin-top: 25%;
    padding-top: 2%;
    padding-right: 5%;
    padding-left: 3%;
    padding-bottom: 10%;
    color: #3b393d;
    border-radius: 2px;
    box-shadow: 0px 2px 51px 3px rgba(0,0,0,0.75);
}

#leftIndex {
    width: 70%;
}

#rightIndex {
    width: 30%;
    float: right;
}

#inputSize {
    width: 100%;
    height: 70px;
    border: 1px solid black;
}

#indexBack {
    width: 100%;
    height: 75%;
}

#header {
    width: 100%;
    background-color: #4B08A1;
    padding-bottom: 1%;
    -moz-box-shadow: inset 0 -10px 10px -10px #000000;
    -webkit-box-shadow: inset 0 -10px 10px -10px #000000;
    box-shadow: inset 0 -10px 10px -10px #000000;
}

#mainInfoPic {
    width: 18%;
    display: block;
    margin: auto;
    padding-top: 1%;
}

#greenFeeIntro{
	/*background-color: rgba(255, 255, 255, 0.8);*/
	/*box-shadow: 0px 10px 64px 0px rgba(0,0,0,0.75);*/
    box-shadow: 10px 0px 0px 0px #888888; 
	border-top: none;
	color: black;
	height: 100%;
	border-radius: 2px; 
}

#greenFeeIntroIndex{
    background-color: rgba(255, 255, 255, 0.8);
    /*box-shadow: 0px 0px 40px 0px rgba(255,255,255,1);*/
    box-shadow: 0px 15px 64px 0px rgba(0,0,0,0.75);
    border-top: none;
    color: black;
    margin-left: 2%;
    min-height: 100%;
    border-radius: 2px;
}

#greenFeeFormContent{
	margin-left: 15%;
	margin-right: 15%;
	-webkit-box-shadow: 0px 22px 74px 5px rgba(75,8,161,1);
	-moz-box-shadow: 0px 22px 74px 5px rgba(75,8,161,1);
	box-shadow: 0px 22px 74px 5px rgba(75,8,161,1);
}

#greenFeeh2 {
    margin-top: 0%;
    padding-left: 2%;
    color: #067c14;
    font-size: 30px;
}

#contactInfo {
    padding-left: 10%;
}

#introHr {
    width: 75%;
    border: 1.5px solid #491799;
}

#credit {
    text-align: center;
    color: #3e4144;
    margin-top: 0%;
    padding-bottom: 3%;
}

#checkmarkdiv {
    height: 300px;
    width: 300px;
    display: block;
    margin: 20px auto 0px auto;
    background-position: center center;
    padding-top: 8%;
}

#confirmationh1 {
    text-align: center;
}

#confirmationh2 {
    text-align: center;
    margin: 100px auto 0px auto;
}

#formHr {
    width: 95%;
    border: 1px solid #4B08A1;
}

#loginButton{
    width: 100px;
    height: 28px;
    background-color: #4B08A1;
    color: white;
}

#submitButton{
    float: right;
    background-color: #4B08A1;
    width: 125px;
    height: 28px;
    color: white;
    display: inline-block;
}

@import "bourbon";

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {
    0%, 100% {
        transform: none;
    }

    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #7ac142;
    }
}

@media screen and (min-width: 1600px) {
    p{
        font-size: 1.5em;
    }
    #inputSize{
       height: 30px;
    }

}




